package ${package.Controller};

import jakarta.annotation.Resource;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end
        @Resource
        private ${entity}Service ${entity.toLowerCase()}Service;

        /**
        * 根据ID查询
        */
        @GetMapping("/{id}")
        public ${entity} getById(@PathVariable Long id) {
                return ${entity.toLowerCase()}Service.getById(id);
                }

        /**
         * 查询所有字段（支持动态条件）
         */
        @GetMapping
        public List<${entity}> queryAll(@RequestBody ${entity} dto) {
                return ${entity.toLowerCase()}Service.queryAll(dto);
                }

        /**
         * 根据ID更新数据
         */
        @PostMapping
        public Integer update(@RequestBody ${entity} dto) {
                return ${entity.toLowerCase()}Service.update(dto);
                }

        /**
         * 新增数据
         */
        @PostMapping
        public Integer add(@RequestBody ${entity} dto) {
        return ${entity.toLowerCase()}Service.insert(dto);
                }

        /**
         * 根据ID删除数据（物理删除）
         */
        @DeleteMapping("/{id}")
        public Integer deleteById(@PathVariable Integer id) {
                return ${entity.toLowerCase()}Service.deleteById(id);
                }
}
#end
